@use "./../../assets/partials/devices";
@use "./../../assets/partials/palette.scss";

.IntroText {
    & p {
        font-size: 1.2rem;
    }

    & h1 {
        line-height: normal;
        font-family: ballare, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    & a {
        text-decoration: none;

        &:link {
            color: palette.$dark-brown;
        }

        &:visited {
            color: palette.$dark-brown;
        }

        &:active {
            color: palette.$dark-brown;
        }
    }

    @include devices.phone {
        & h1 {
            font-size: 5rem;
            text-align: center;
        }

        & p {
            text-align: center;
        }
    }

    @include devices.large-phone {
        & h1 {
            font-size: 6rem;
        }
    }
}
