@use "./../../assets/partials/devices.scss";

.Home {
    width: 100%;
    display: flex;

    @include devices.phone {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    @include devices.large-phone {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    @include devices.laptop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        height: 70vh;
        margin: 4rem auto 0;
    }

    @include devices.desktop {
        height: 65vh;
        margin: 4rem auto 0;
    }
}
