@use "./../../assets/partials/palette.scss";

.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.75rem 1rem 0;
    padding-right: 0.5rem;
    border-bottom: 1.5px solid palette.$beige;
}
