@use "./../../assets/partials/palette.scss";
@use "./../../assets/partials/devices.scss";

.TextField {
    border: none;
    padding: 4px 3px;
    font-family: inherit;
    background-color: inherit;
    color: palette.$dark-brown;
    font-size: 1.2rem;

    @include devices.phone {
        max-width: 100vw;
    }

    @include devices.large-phone {
        max-width: 15rem;
    }

    &:focus {
        outline: none;
    }
}
