@use "./../../assets/partials/palette.scss";
@use "./../../assets/partials/devices.scss";

.SmallButton {
    border: 2px solid palette.$dark-brown;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palette.$cream;
    overflow: hidden;

    // margin: 0 0.5rem;

    &:hover {
        background-color: palette.$beige;
    }

    & img {
        background-color: transparent;
    }

    & a {
        background-color: transparent;
        display: block;
        text-align: center;
        margin: auto;
        overflow: hidden;
        padding: 6% 0;

        &:link {
            color: palette.$dark-brown;
        }

        &:visited {
            color: palette.$dark-brown;
        }

        &:active {
            color: palette.$dark-brown;
        }
    }

    & > div {
        height: 100%;
        text-align: center;
        margin: auto;
        overflow: hidden;
    }

    @include devices.phone {
        width: 2.65rem;
        height: 2.5rem;
        min-width: 1.15rem;
        min-height: 1rem;

        & img {
            margin-top: 3px;
            width: 65%;
            height: 65%;
        }
    }

    @include devices.large-phone {
        width: 2.8rem;
        height: 2.65rem;

        & img {
            margin-top: 2px;
            width: 72%;
            height: 72%;
        }
    }

    @include devices.tablet {
        width: 4.5rem;
        height: 2.5rem;

        & img {
            margin-top: 0;
            height: 45%;
            width: 45%;
        }
    }

    @include devices.laptop {
        width: 5rem;
        height: 3rem;

        & img {
            height: 40%;
            width: 40%;
        }
    }
}

.active {
    background-color: palette.$beige;
}
