*,
html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

html {
    background-color: #f2e8e3;
    height: 100vh;
    scroll-behavior: smooth;
    font-style: normal;
}

body {
    background-color: #f2e8e3;
    margin: 2.5% auto;
    box-sizing: border-box;
    max-inline-size: 1400px;
    max-block-size: 90%;
    padding: 0 3%;
    color: #6b4a3e;
    position: relative;
}
