@use "./../../assets/partials/devices.scss";

.Footer {
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;

    & p {
        margin-bottom: 0.5rem;
    }

    @include devices.phone {
        padding-bottom: 5rem;
    }

    @include devices.desktop {
        position: relative;
        bottom: 0;
    }
}
