@use "./../../assets/partials/devices.scss";

.Footer {
    text-align: center;
    padding: 1rem 0;

    @include devices.phone {
        padding-bottom: 5rem;
    }

    @include devices.desktop {
        position: relative;
        bottom: 0;
    }
}
